/* CSS specific for details.html */

a {
	font-size: 18px;
	overflow-wrap: break-word;
}
body {
	background-image: url("../images/background.jpg");
}
img {
	height: auto;
	object-fit: cover;
	width: auto;
}
.overview-area {
	display: flex;
	flex-direction: row;
}
@media (max-width: 700px) {
	.overview-area {
		align-items: center;
		flex-wrap: wrap;
	}
	.overview-area > * {
		width: 100%;
	}
}
.image {
	display: flex;
	flex-direction: column;
}
.image > * {
	margin: 10px;
}
.button-section {
	display: flex;
	justify-content: space-between;
}
.button {
	background-color: gray;
	border-radius: 10px;
	color: white;
	font-family: Roboto;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.picture {
	background-color: blue;
	flex-shrink: 0;
	height: 600px;
	width: 350px;
}
.description {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}
.description > * {
	margin: 5px;
	overflow-wrap: break-word;
}
.detail-section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
}