/* CSS specific for images.html */

.image-container {
	display: flex;
	flex-wrap: wrap;
    left: 110px;
    position: relative; 
}

.image-container > img {
    height: 400px;
    margin: 20px;
    object-fit: cover;
    width: 400px; 
}
