h3, h2, p {
    color: white;
}

body {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
} 

img {
    height: 100%;

    max-width: 100%;
    max-height: 100%;

    object-fit: scale-down;
}

.aboutme-section {
    display: flex;
    position: relative;

    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
}
 
.aboutme-section > * {
    margin-right: 20px;
    color: white;
}

.project-section {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 110px;
}

.project-flex h3, h2, p {
    color: black;
}

@media (max-width: 1000px) {
    .project-section {
        left: 10px;
    }
}

.project-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    height: 540px;
    overflow: hidden;
}

.project-item {
    margin-right: 40px;
    margin-bottom: 100px;

    width: 350px;
    height: 500px;

    padding: 20px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.project-item > * {
    margin: 5px;
}

.project-item img {
    border-radius: 10px;
    width: 90%;
}


.badge-section {
    display: flex;
    justify-content: space-around;
}

.pill {
    color: white;
    font-weight: bold;
    font-size: 15px;

    text-align: center;
    padding: 10px 20px; 

    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-radius: 16px;
} 

.demo-section {
    width: 320px;
    height: 275px;

    display: flex;
    justify-content: space-around;
}

.button-section {
    display: flex;
    justify-content: space-around;
}

.button {
    text-align: center;
    padding: 10px; 
    margin: 10px;

    border-radius: 10px;

    font-family: Roboto;
    color: white;

    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}