.axis-0-grid-container {
    display: grid;
    grid-template-rows: auto auto auto; 
    background-color: lavender;
    grid-row-gap: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: tomato;
    padding: 10px;
}

.grid-item {
  background-color: SlateBlue;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}